<app-filter 
 [all]="totalProductCount"
 [inStock]="totalProductInStock" 
 [outofStock]="totalProductOutOfStock" 
 (selectedFilterRadioButtonChanged)="onFilterChange($event)"
 >
</app-filter>
<div class="emart-product-container" >
    
    <!-- *ngIf="selectedFilterRadioButton==='all'  || prod.is_in_inventory.toString()===selectedFilterRadioButton " -->
    <ng-container *ngFor="let prod of products"  > 
        <app-product  [product]="prod" 
         *ngIf="searchText===''  || prod.brand.toLowerCase().includes(searchText)" 
         (click)="selectedProduct = prod"
         ></app-product>
    </ng-container>
    
</div>
