<header>
    <h1>About Us</h1>
</header>

<div class="container">
    <div class="image">
        <img src="assets/images/shoesstore.jpg" alt="Image 1">
    </div>
    <div class="content">
        <h2>Welcome to Our Company</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin auctor, elit ut luctus tincidunt, quam sapien laoreet velit, eget fringilla dolor magna id felis. Nullam blandit, sapien a ultrices fermentum, turpis ex malesuada sapien.</p>
    </div>
</div>

<div class="container">
    <div class="content">
        <h2>Our Mission</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin auctor, elit ut luctus tincidunt, quam sapien laoreet velit, eget fringilla dolor magna id felis. Nullam blandit, sapien a ultrices fermentum, turpis ex malesuada sapien.</p>
    </div>
    <div class="image">
        <img src="assets/images/shoestore2.jpg" alt="Image 2">
    </div>
</div>

