<div class="container">
    <header>
      <div class="welcome-section">
        <div class="welcome-image">
          <img src="assets/images/shoesstore3.jpg" height="700px" width="500px" alt="Welcome to Emart">
        </div>
        <div class="welcome-description">
          <h1>Welcome to Emart</h1> <br> 
          <br>
          <p>Your ultimate destination for stylish and comfortable footwear!</p> <br>
          <p>Emart is an innovative e-commerce platform designed to cater to all your shoe shopping needs. With a wide range of shoe styles,
             from casual sneakers to elegant dress shoes, Emart offers something for everyone, regardless of taste or occasion.</p>
             <br>
             <div class="welcome-image2">

             <img src="assets/images/shoestore5.jpg" height="250px" width="400px"   alt=""> <br>
            </div>
            <br>
          <button class="go-to-products-btn" routerLink="products"  >Go To Products
          </button>
          
        </div>
      </div>
    </header>
    <main>
      <section class="featured-products">
        <h2>Featured Products</h2>
        <div class="product-card">
          <img src="assets/images/vintageboot.jpg" alt="Featured Product 1">
          <h3>Vintage Boots</h3>
          <p>Explore our collection of vintage boots for any occasion.</p>
          <button>View Details</button>
        </div>
        <div class="product-card">
          <img src="assets/images/vintageboot2.jpg" alt="Featured Product 2">
          <h3>Elegant Boots</h3>
          <p>Discover our selection of elegant boots for a chic look.</p>
          <button>View Details</button>
        </div>
        <div class="product-card">
          <img src="assets/images/vintageboot3.jpg" alt="Featured Product 3">
          <h3>Classic Loafers</h3>
          <p>Shop our timeless collection of classic loafers for a sophisticated style.</p>
          <button>View Details</button>
        </div>
      </section>
    </main>
    
  </div>
  
